<form method="post" action="{{ path('answers_delete', {'id': answer.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cette reponse?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer.id) }}">
    <button class="btn">Delete</button>
</form>
