{% extends 'base.html.twig' %}

{% block title %}Editer reponse{% endblock %}

{% block body %}
    <h1>Editer reponse</h1>

    {{ include('answers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('answers_index') }}">retourner à la liste</a>

    {{ include('answers/_delete_form.html.twig') }}
{% endblock %}
