{% extends 'base.html.twig' %}

{% block title %}Liste des reponses{% endblock %}

{% block body %}
    <h1>Liste des reponses</h1>

    <a href="{{ path('answers_new') }}">Ajouter une reponse</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('answers_show', {'id': answer.id}) }}">voir</a>
                    <a href="{{ path('answers_edit', {'id': answer.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun item en base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
