{% extends 'base.html.twig' %}

{% block title %}Ajouter une question{% endblock %}

{% block body %}
    <h1>Ajouter une question</h1>

    {{ include('answers/_form.html.twig') }}

    <a href="{{ path('answers_index') }}">retourner à la liste</a>
{% endblock %}
