{% extends 'base.html.twig' %}

{% block title %}Liste des reponses{% endblock %}

{% block body %}
    <h1>Liste des reponses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ answer.content }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ answer.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('answers_index') }}">retourner à la liste</a>

    <a href="{{ path('answers_edit', {'id': answer.id}) }}">éditer</a>

    {{ include('answers/_delete_form.html.twig') }}
{% endblock %}
