<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('users_index') }}">Quizz</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('users_index') }}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                {# show_beer nom de la route #}
                <a href="{{ path('questions_index') }}">Questions</a>
            </li>
            <li class="nav-item">
                {# show_beer nom de la route #}
                <a href="{{ path('answers_index') }}">Reponses</a>
            </li>
        </ul>
    </div>
</nav>