<form method="post" action="{{ path('questions_delete', {'id': question.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cette question?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn">Supprimer</button>
</form>
