{% extends 'base.html.twig' %}

{% block title %}Edition d'un Question{% endblock %}

{% block body %}
    <h1>Edition</h1>

    {{ include('questions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('questions_index') }}">retourner à la liste</a>

    {{ include('questions/_delete_form.html.twig') }}
{% endblock %}
