{% extends 'base.html.twig' %}

{% block title %}Liste de Questions{% endblock %}

{% block body %}
    <h1>Liste de Questions</h1>

    <a href="{{ path('questions_new') }}">Ajouter une question</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.content }}</td>
                <td>
                    <a href="{{ path('questions_show', {'id': question.id}) }}">voir</a>
                    <a href="{{ path('questions_edit', {'id': question.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun item en base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
