{% extends 'base.html.twig' %}

{% block title %}Ajouter Questions{% endblock %}

{% block body %}
    <h1>Ajouter une Questions</h1>

    {{ include('questions/_form.html.twig') }}

    <a href="{{ path('questions_index') }}">retoure à la liste des questions</a>
{% endblock %}
