{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <h1>Questions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ question.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ question.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('questions_index') }}">retoure a la liste des questions</a>

    <a href="{{ path('questions_edit', {'id': question.id}) }}">éditer</a>

    {{ include('questions/_delete_form.html.twig') }}
{% endblock %}
