<form method="post" action="{{ path('users_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cette utilisateur?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>
