{% extends 'base.html.twig' %}

{% block title %}Edition d'utilisateur{% endblock %}

{% block body %}
    <h1>Editer l'utilisateur</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('users_index') }}">retourner à la liste</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
