{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <a href="{{ path('users_new') }}">Ajouter un utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun item en base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
