{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('users_index') }}">retourner à la liste</a>
{% endblock %}
