{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_index') }}">retourner à la liste</a>

    <a href="{{ path('users_edit', {'id': user.id}) }}">editer</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
